.terminal-container {
    padding: 24px !important;
}
.terminal {
    display: flex;
    align-items: flex-start;
    margin-bottom:24px;
    height: 72px;
}
.dropdown-item {
    padding: 6px;
}
.url-input {
    width: 50%;
}

.description-input {
    width: 50%;
}

.create-chain-buttons {
    padding-top: 16px;
}

.create-chain-buttons button {
    margin-right: 32px;
}

.create-chain {
    padding-top: 32px;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 32px;
}
.create-chain-steper {
    background-color: lightgray !important;
}
.create-chain-content {
    height: 120px;
}
.search-page {
    padding-top: 24px;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 32px;
}
.search-card {
    margin-bottom:32px;
    padding-left: 32px;
    padding-top:6px;
    padding-bottom:12px;
    width: 600px;
}
.search-card button {
    margin-left:32px;
}

.retrieve-entry {
    padding-top: 24px;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 32px;
}

.chain-id-input {
    width: 60%;
}

.retrieve-card {
    margin-bottom:32px;
    padding-left: 32px;
    padding-top:6px;
    padding-bottom:12px;
}

.retrieve-card button {
    margin-left: 32px;
}

.create-result-card {
    margin-bottom:32px;
    padding-left: 32px;
    padding-top:6px;
    padding-bottom:12px;
    margin-top:32px;
}

.create-result-card button {
    margin-left: 32px;
}